@media (max-width: 910px){
    #big{
        display: none;
    }
    #small_logo{
        display: flex;
    }
    #username{
        display: none;
    }
    .user #user_details{
        padding: 0px 0px 0px 0px;
    }
    .user #green{
        margin-left: 0px;
    }

    nav{
        display: flex;
        justify-content: space-evenly;
    }
    .search{
        flex-basis: 60%;
    }

    .body .plan{
        width: 90%;
        top: 12%;
        flex-direction: column;
    }
    .plan_btn{
        width: 95%;
        margin-top: 10px;
        padding: 5px;
        justify-content: space-between;
    }
    
    #main_details{
        width: 90%;
        margin-top: 17px;
        /* padding: 9px; */
        /* top: 34%; */
    }
    
}

@media(max-width: 850px){
    .inner_content img{
        display: none;
    }
    .inner_text{
        padding: 15px;
    }
    .user_drop{
        width: 80%;
    }
    .user_drop #dropdown_user{
        margin: 0;
    }
    .notification{
        width: 88%;
    }
}

@media (max-width: 450px){
    nav{
        display: flex;
        justify-content: space-between;
    }
    details{
        /* top: 35%; */
    }

    .user{
        justify-content: space-between;
    }
    
    .search{
        width: 20%;
    }
    .plan p{
        font-size: 12px;
    }
    .text_section p{
        font-size: 13px;
    }
    
}