  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: inter;
}

:root{
    --bg-color: #F1F1F1;
    --nav-bg:   #1A1A1A;
    --text-color: #E3E3E3;
    --input-stroke: #616161; 
    --input-bg:     #303030;    
    --input-color: #B5B5B5;  
    --user-letter-color: #36FBA1;
    --user-text-color: #E3E3E3;
    --dark-text-color: #000000;
    --btn-bg:           #404040;
    --product-bg:       #F3F3F3;
    --btn-hover-bg:     #F7F7F7;
}

body{
    background: var(--bg-color);
}
nav{
    padding: 15px;
    background: var(--nav-bg);
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    color: var(--text-color)
}

#small{
    display: none;
}
.search{
    border: 1px solid var(--input-stroke);
    background: var(--input-bg);
    display: flex;
    align-items: center;
    border-radius: 8px;
}
.search img{
    /* border: 1px solid; */
    padding: 5px;
    color: var(--input-color);
    width: 13px;
    height: 13px;
    text-align: center;
    flex-basis: 7%;
}
.search #search{
    flex-basis: 100%;
    outline: none;
    color: var(--text-color);
    border: none;
    padding: 10px 0px; 
    background: transparent;
}
#search::placeholder{
    line-height: 18.2px;
    color: var(--input-color);
    font-weight: 500;
    font-size: 14px;
}

.user{
    display: flex;
    align-items: center;
    /* border: 1px solid; */
    /* padding: 5px; */
    color: var(--user-text-color);
    gap: 8px;
    justify-content: flex-end;
}

.user img{
    background: var(--input-bg);
    padding: 10px;
    width: 17px;
    height: 17px;
    border-radius: 8px;
}
.user #user_details{
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    border-radius: 8px;
    background: var(--input-bg);
    padding: 10px 2px 10px 10px;
}
.user #green{
    background: var(--user-letter-color);
    padding: 8px;
    margin-left: 3px;
    /* font-size: 12px; */
    color: var(--dark-text-color);
    border-radius: 8px;
}





.body{
    border: 1px solid;
    display: flex;
    place-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.body .plan{
    border: 1px solid;
    width: 70%;
    position: absolute;
    top: 15%;
    color: var(--text-color);
    background: var(--nav-bg);
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.plan_btn{
    display: flex;
    gap: 8px;
    align-items: center;
    flex-basis: 20%;
    /* border: 1px solid; */
    justify-content: space-evenly;
}

.plan_btn button{
    padding: 6px 12px;
    border-radius: 6px;
    outline: none;
    font-family: inter;
    font-weight: 700;
    border: 1px;
    background: #fff;
    color: var(--dark-text-color);
    cursor: pointer;
}
.plan_btn button:hover{
    background: var(--btn-hover-bg);
}
.plan_btn img{
    width: 15px;
    height: 15px;
    cursor: pointer;
}





#main_details{
    border: 1px solid #DBDBDB;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 27%;
    width: 70%;
    padding: 15px;
    border-radius: 18px;
    background: #fff;
    display: flex;
    align-items: center;
    transition: 0.6s ease-in-out;
}
#main_details summary{
    list-style: none;
    position: relative;
    cursor: pointer;
    /* border: 1px solid; */
    padding: 10px;
    color: var(--input-bg);
}
details summary #title{
    line-height: 19px;
    letter-spacing: 0.3px;
    font-weight: 600;
}

#main_details summary::before{
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    font-weight: bolder;
    position: absolute;
    color: #4A4A4A;
    right: 0;
}

#main_details[open] #main_summary::before { 
    content:"\f106"; 
}

.summary_content{
    /* border: 1px solid; */
    padding: 5px;
}


.progress{
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 7px;
    position: relative;
}
.progress p{
    font-size: 12px;
    font-weight: 400;
    color: var(--input-bg);
}

.progress-bar{
    width: 72px;
    height: 5px;
    border-radius: 50px;
    background: var(--text-color);
    overflow: hidden;
}
#skill_bar{
    background: var(--nav-bg);
    height: 100%;
    border-radius: 50px 0px 0px 50px ;
    width: 20%;
}

label{
    position: relative;
    width: 100%;
    max-width: 24px;
    height: 24px;
    cursor: pointer;
    flex-grow: 1;
  }
  label:focus{
    outline: none;
    border: none;
  }
  label input{
    display: none;
  }
input + span > svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  input + span > svg{
    opacity: 0;
  }
  input + span > svg:nth-of-type(1){
    animation-name: checkSvgAnimation;
    animation-duration: 70ms;
    animation-timing-function: linear;
    opacity: 1;
  }
  input + span:hover > svg:nth-of-type(2){
    opacity: 1;
  }
  input:focus > span > svg:nth-of-type(5){
    opacity: 1;
  }
  input:checked + span > svg{
    animation-name: checkSvgAnimation;
    animation-duration: 100ms;
    animation-fill-mode: both;
  }
  input:checked + span > svg:nth-of-type(1){
    opacity: 0;
  }
  input:checked + span > svg:nth-of-type(2){
    animation-delay: 50ms;
  }
  input:checked + span > svg:nth-of-type(3){
    animation-delay: 150ms;
  }
  input:checked + span > svg:nth-of-type(4){
    animation-delay: 230ms;
  }
  input:checked + span > svg:nth-of-type(5){
    animation-delay: 300ms;
  }
  input:checked + span > svg:nth-of-type(6){
    animation-delay: 380ms;
  }
  input:checked + span > svg:nth-of-type(7){
    animation-delay: 450ms;
  }
  input:checked + span > svg:nth-of-type(8){
    animation-delay: 520ms;
  }
  input:checked + span > svg:nth-of-type(9){
    animation-delay: 600ms;
  }
  input:checked + span > svg:nth-of-type(10){
    animation-delay: 700ms;
    opacity: 1;
  }
  @keyframes checkSvgAnimation {
     0% {
      opacity: 0;
     } 
     50% {
      opacity: 1;
     } 
     100%{
      opacity: 1;
     } 
  }




.prod1{
    /* padding: 10px; */
}
#prod1[open]{
    background: var(--product-bg);
    border-radius: 10px;
}

#prod1 summary{
    /* border: 1px solid red; */
    /* width: 100%;    */
    display: flex;
    gap: 10px;
    align-items: center;

}
#prod1 summary::before{
    display: none;
}

#prod1 summary p{
    color: #322F33;
}

#prod1[open] summary p{
    font-weight: bolder;
}



.inner_content{
    /* border: 1px solid green; */
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.inner_content img{
    width: 154px;
}
.inner_text{
    /* border: 1px solid;  */
}
.inner_text p{
    line-height: 1.5rem;
    color: #616161;
}
.inner_text a{
    color: #005BD3;
    /* font-size: 14px; */
    font-weight: 500;
    text-decoration: none;
}
.inner_text button{
   padding: 8px 10px;
   outline: none;
   border: none;
   font-weight: 500;
   border-radius: 6px;
}
.inner_text button:hover{
    background: var(--btn-hover-bg);
}
#active_btn{
    background: var(--btn-bg);
   color: #fff;
}